$primary-color:#0C1023;
body{
    background-color: $primary-color;
    box-sizing: border-box;
}
#home{
    position: relative;
    overflow: hidden;

    .home2{
        min-height: 100vh;
        background-image: url("../image/home-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation-name: bgscale;
        animation-duration: 10s;
    }
   
    .home-overlay{
        min-height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    



    @keyframes bgscale{

        0%,100%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.1);
        }
    
    }

    .home-inner {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
    .home-inner h2{
        font-family: 'Pacifico', cursive;
        font-size: 60px;
    

    }
    .menubtn{
        border-radius: 50px;
    }
}


.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before{
    background-color: white!important;
}


#myNav{
    background-color: #333;
    width: 250px;
    height: 100%;
    margin-left: auto;
    transform: translateX(100%);
    transition: 0.4s ease all;
    background: $primary-color;
    .menu-item{
        font-size: 45px;
        color: white;
        cursor: pointer;
    }
    .navbar-expand-lg .navbar-nav .nav-link, .navbar-nav .nav-link {
        color: inherit;
        display: block;
        position: relative;
        transition: .3s;
        cursor: pointer;
        top: -5px;
        left: 8px;

}
.navbar-nav .nav-item{
    transition: 1s ease all!important;
}
.navbar-nav .nav-item:hover {
    color: #000;
    background: white!important;

}
.navbar-nav .nav-link:hover{
    color: black!important;
}

.nav-link.active{
    color: chartreuse!important;
}

}


.open-nav{
    transform: translateX(0%)!important;
}

.back{
    background-color:$primary-color!important;
    transition: 0.6s ease-in all!important;
    box-shadow: 2px 5px 8px 2px rgba($color: #000000, $alpha: 0.3);
}

#about{
    overflow: hidden;
    .ourstory{
        font-family: 'Pacifico', cursive;

    }
    .aboutbtn{
        border-radius: 50px;
    }
    .container-fluid{
      width: 85%;
    }
    .img-fluid{
        border-radius: 10px;
    }

    .textss{
        width: 98%;
        word-break: break-all;
        word-wrap: break-word;
        text-align: justify;
    }
}

#menu{

    


    .mix::before{
        content: '';
        position: absolute;
        border-bottom: 2px dashed rgb(94, 86, 86);
        width: 95%;
        left: 15px;
        bottom: -20px;
        opacity: 0.5;
    }

        

   
    .ordernow{
        font-family: 'Pacifico', cursive;

    }
    .mixbtn{
        color: white;
    }

    .mixitup-control-active{
        color: yellow;
    }

   

}

@keyframes pageLoader{
    0%,100%{
        transform: translateX(-50px);
    }
    50%{

        transform: translateX(50px);

    }
}

.pageloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $primary-color;
    z-index: 999;

}

.pageloader::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 8%;
    background-color: goldenrod;
    left: 45%;
    top:50%;
    transform: translate(-50%,-50%);
    animation: pageLoader 1s linear infinite;

}

.pageloader.fade-out{
    opacity: 0;
}




@media (min-width: 0px) { 

  #home{

    .home-inner h2{
        font-family: 'Pacifico', cursive;
        font-size: 35px;

    }
    .home-inner{
        width: 95%;
    }
  }

  #dinner{
    .mix:nth-last-of-type(1)::before{
    
        border: none!important;
            
    }
  }



}
  
  
@media (min-width: 576px) { 

    #home{
  
      .home-inner h2{
          font-family: 'Pacifico', cursive;
          font-size: 50px;
  
      }
      .home-inner{
          width: 80%;
      }
    }
  
  }



  @media (min-width: 992px) { 

  
    #dinner{
        .mix:nth-last-of-type(1)::before,
        .mix:nth-last-of-type(2)::before{
        
            border: none!important;
                
        }
       }
    
 
  }




@media (min-width: 1200px) { 

    #home{
  
      .home-inner h2{
          font-family: 'Pacifico', cursive;
         font-size: 60px;
  
      }
      .home-inner{
          width: 60%;
      }
    }
  
  }




