$primary-color:#0C1023;
body{
    background-color: $primary-color;
    overflow: hidden;
}
#home{
    background-image: url("../image/home-bg.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: bgscale;
    animation-duration: 10s;
    .home-overlay{
        min-height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    @keyframes bgscale{

        0%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    
    }
    
}


.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before{
    background-color: white!important;
}

#myNav{
    background-color: #333;
    width: 250px;
    height: 100%;
    margin-left: auto;
    transform: translateX(100%);
    transition: 0.6s ease all;
    background: $primary-color;

    .menu-item{
        font-size: 45px;
        color: white;
        cursor: pointer;
    }
    .navbar-expand-lg .navbar-nav .nav-link, .navbar-nav .nav-link {
        color: inherit;
        display: block;
        position: relative;
        transition: .3s;
        cursor: pointer;
        top: -5px;
        left: 8px;

}
.navbar-nav .nav-item{
    transition: 1s ease all!important;
}
.navbar-nav .nav-item:hover {
    color: #000;
    background: white!important;

}
.navbar-nav .nav-link:hover{
    color: black!important;
}

.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {

    color: chartreuse!important;

}
}

.open-nav{
    transform: translateX(0%)!important;
}