body {
  background-color: #0C1023;
  box-sizing: border-box; }

#home {
  position: relative;
  overflow: hidden; }
  #home .home2 {
    min-height: 100vh;
    background-image: url("../image/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: bgscale;
    animation-duration: 10s; }
  #home .home-overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }

@keyframes bgscale {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }
  #home .home-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 60px; }
  #home .menubtn {
    border-radius: 50px; }

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
  background-color: white !important; }

#myNav {
  background-color: #333;
  width: 250px;
  height: 100%;
  margin-left: auto;
  transform: translateX(100%);
  transition: 0.4s ease all;
  background: #0C1023; }
  #myNav .menu-item {
    font-size: 45px;
    color: white;
    cursor: pointer; }
  #myNav .navbar-expand-lg .navbar-nav .nav-link, #myNav .navbar-nav .nav-link {
    color: inherit;
    display: block;
    position: relative;
    transition: .3s;
    cursor: pointer;
    top: -5px;
    left: 8px; }
  #myNav .navbar-nav .nav-item {
    transition: 1s ease all !important; }
  #myNav .navbar-nav .nav-item:hover {
    color: #000;
    background: white !important; }
  #myNav .navbar-nav .nav-link:hover {
    color: black !important; }
  #myNav .nav-link.active {
    color: chartreuse !important; }

.open-nav {
  transform: translateX(0%) !important; }

.back {
  background-color: #0C1023 !important;
  transition: 0.6s ease-in all !important;
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.3); }

#about {
  overflow: hidden; }
  #about .ourstory {
    font-family: 'Pacifico', cursive; }
  #about .aboutbtn {
    border-radius: 50px; }
  #about .container-fluid {
    width: 85%; }
  #about .img-fluid {
    border-radius: 10px; }
  #about .textss {
    width: 98%;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify; }

#menu .mix::before {
  content: '';
  position: absolute;
  border-bottom: 2px dashed #5e5656;
  width: 95%;
  left: 15px;
  bottom: -20px;
  opacity: 0.5; }

#menu .ordernow {
  font-family: 'Pacifico', cursive; }

#menu .mixbtn {
  color: white; }

#menu .mixitup-control-active {
  color: yellow; }

@media (min-width: 0px) {
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 35px; }
  #home .home-inner {
    width: 95%; }
  #dinner .mix:nth-last-of-type(1)::before {
    border: none !important; } }

@media (min-width: 576px) {
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 50px; }
  #home .home-inner {
    width: 80%; } }

@media (min-width: 992px) {
  #dinner .mix:nth-last-of-type(1)::before,
  #dinner .mix:nth-last-of-type(2)::before {
    border: none !important; } }

@media (min-width: 1200px) {
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 60px; }
  #home .home-inner {
    width: 60%; } }
