#home {
  background-image: url("../image/home-bg.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #home .home-overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
  background-color: white !important; }

#myNav {
  background-color: #333;
  width: 250px;
  height: 100%;
  margin-left: auto;
  transform: translateX(100%);
  transition: 0.6s ease all;
  background: #0C1023; }
  #myNav .menu-item {
    font-size: 45px;
    color: white;
    cursor: pointer; }
  #myNav .navbar-expand-lg .navbar-nav .nav-link, #myNav .navbar-nav .nav-link {
    color: inherit;
    display: block;
    position: relative;
    transition: .3s;
    cursor: pointer;
    top: -5px;
    left: 8px; }
  #myNav .navbar-nav .nav-item {
    transition: 1s ease all !important; }
  #myNav .navbar-nav .nav-item:hover {
    color: #000;
    background: white !important; }
  #myNav .navbar-nav .nav-link:hover {
    color: black !important; }
  #myNav .navbar-nav .nav-item.active > .nav-link, #myNav .navbar-nav .nav-item:active:focus > .nav-link, #myNav .navbar-nav .nav-item:active > .nav-link, #myNav .navbar-nav .nav-item:focus > .nav-link, #myNav .navbar-nav .nav-item:hover > .nav-link {
    color: chartreuse !important; }

.open-nav {
  transform: translateX(0%) !important; }
