body {
  background-color: #0C1023;
  box-sizing: border-box; }

#home {
  position: relative;
  overflow: hidden; }
  #home .home2 {
    min-height: 100vh;
    background-image: url("../image/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: bgscale;
    animation-duration: 10s; }
  #home .home-overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }

@keyframes bgscale {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }
  #home .home-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 60px; }
  #home .menubtn {
    border-radius: 50px; }

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
  background-color: white !important; }

#myNav {
  background-color: #333;
  width: 250px;
  height: 100%;
  margin-left: auto;
  transform: translateX(100%);
  transition: 0.4s ease all;
  background: #0C1023; }
  #myNav .menu-item {
    font-size: 45px;
    color: white;
    cursor: pointer; }
  #myNav .navbar-expand-lg .navbar-nav .nav-link, #myNav .navbar-nav .nav-link {
    color: inherit;
    display: block;
    position: relative;
    transition: .3s;
    cursor: pointer;
    top: -5px;
    left: 8px; }
  #myNav .navbar-nav .nav-item {
    transition: 1s ease all !important; }
  #myNav .navbar-nav .nav-item:hover {
    color: #000;
    background: white !important; }
  #myNav .navbar-nav .nav-link:hover {
    color: black !important; }
  #myNav .nav-link.active {
    color: chartreuse !important; }

.open-nav {
  transform: translateX(0%) !important; }

.back {
  background-color: #0C1023 !important;
  transition: 0.6s ease-in all !important;
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.3); }

#about {
  overflow: hidden; }
  #about .ourstory {
    font-family: 'Pacifico', cursive; }
  #about .aboutbtn {
    border-radius: 50px; }
  #about .container-fluid {
    width: 85%; }
  #about .img-fluid {
    border-radius: 10px; }
  #about .textss {
    width: 98%;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify; }

#menu .active {
  color: yellow !important; }

#menu .col-12::before {
  content: '';
  position: absolute;
  border-bottom: 2px dashed #5e5656;
  width: 95%;
  left: 15px;
  bottom: -20px;
  opacity: 0.5; }

#menu .ordernow {
  font-family: 'Pacifico', cursive; }

#menu .mixbtn {
  color: white; }

#menu .mix-active {
  color: yellow !important; }

#team .teams {
  font-family: 'Pacifico', cursive; }

#team img {
  border-radius: 8px;
  transition: 0.6s ease all; }

#team .team-descrip {
  background-color: #1f243d;
  padding: 8px;
  padding-left: 22%;
  padding-right: 22%;
  border-radius: 10px;
  position: relative;
  top: -40px;
  display: inline-block;
  transition: 0.4s ease all; }

#team .team-descrip h4, #team h5 {
  color: white; }

#team .imghov {
  transform: skewY(2deg); }

#team .hovers {
  top: -100px !important;
  background-color: orange !important;
  transform: skewY(2deg); }

#team .addColor {
  color: black !important; }

@keyframes pageLoader {
  0%, 100% {
    transform: translateX(-50px); }
  50% {
    transform: translateX(50px); } }

.pageloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0C1023;
  z-index: 999; }

.pageloader::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 8%;
  background-color: goldenrod;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: pageLoader 1s linear infinite; }

.pageloader.fade-out {
  opacity: 0; }

#testimonial .ourstory {
  font-family: 'Pacifico', cursive; }

#testimonial img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

#testimonial .fa-star {
  color: orange;
  padding: 2px; }

#testimonial h3 {
  color: white; }

#testimonial h5 {
  color: gray; }

#testimonial .card {
  background: transparent;
  border: 2px solid rgba(244, 245, 252, 0.5);
  color: white; }

#testimonial .img-border {
  position: relative;
  height: 83px;
  width: 83px;
  background-color: blue;
  border-radius: 50%;
  transition: 0.6s; }

#testimonial .card:hover .img-border {
  background-color: orange; }

@media (max-width: 992px) {
  #team .team-descrip {
    padding-left: 13%;
    padding-right: 13%; } }

@media (max-width: 576px) {
  #testimonial .testimonial-item h3 {
    font-size: 25px !important; }
  #testimonial .testimonial-item h5 {
    font-size: 16px !important; }
  #testimonial img {
    height: 60px;
    width: 60px; }
  #testimonial .img-border {
    position: relative;
    height: 63px;
    width: 63px;
    background-color: blue;
    border-radius: 50%; } }

@media (min-width: 0px) {
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 35px; }
  #home .home-inner {
    width: 95%; }
  #menu .col-12:nth-last-of-type(1)::before {
    border: none !important; } }

@media (min-width: 576px) {
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 50px; }
  #home .home-inner {
    width: 80%; } }

@media (min-width: 992px) {
  #menu .col-12:nth-last-of-type(1)::before,
  #menu .col-12:nth-last-of-type(2)::before {
    border: none !important; } }

@media (min-width: 1200px) {
  #home .home-inner h2 {
    font-family: 'Pacifico', cursive;
    font-size: 60px; }
  #home .home-inner {
    width: 60%; } }
